 
.s1{
    table-layout: fixed;
    width: 100%;
}
.a{
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    height: 70px;
    width: auto;
   
}
.d{
    width: 50px;
    height: 40px; 
    filter: invert(100%);
    position: absolute;
    top: 2%;
    left: 1em;
}


h3{
    color: white;
}
.s1{
    background-color: rgb(41, 92, 0);
    border-color: white;
    color: white;
}
.kekka wi{
    background-color:red;
    border: solid 2px black;
}
.win{
    background-color:yellow;
    border: solid 2px black;
    top: 30px;
    position: absolute;
}
.lose{
    background-color: rgb(0, 148, 217);
    border: solid 2px black;
}
table{
    background-color: white;

}
.bting th{
    background-color: #867c7c;
}
.table{
    background-color: white;

}
.pich th{
    background-color: #867c7c;
}
.w{
    background-color:yellow;
    border: solid 2px black;
}
.l{
    background-color: rgb(0, 148, 217);
    border: solid 2px black;
}
.wine{
    background-color:red;
    border: solid 2px black;
}


.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #000000;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #000000;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #000000;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
.b{
    background-color: skyblue;
    
}
body {
    padding: 0px;
    margin: 0px;
    position: relative;

}
.h{
    color: #ffffff;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 900;
    font-style: normal;
    vertical-align: middle;
  position: absolute;
  left: 31%;
    top: 73%;
    opacity: 0;
 margin: 0;
 animation: sss 2s forwards; 
 animation-delay: 2s

   
}


.g{
   color: #84ff00;
    font-family: "Murecho", sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    color: #000000;
    margin: 0;
  text-shadow: 3px 3px #00aeff;
  position: relative;
  font-size: 40px;
  animation: text08 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes text08 {
	0% {
		opacity: 0;
		transform: scale(0.3) translateY(150%);
	}
	30% {
		opacity: 1;
	}
	75% {
		transform: scale(1.5) translateY(-30%);
	}
	100% {
		transform: scale(1) translateY(0);
	}
}
.c{
    width: 100%;
    object-fit: cover;
}
.e{ 
    opacity: 0;
    width:32%;
    position: absolute;
    top: 50%;
    left: 2%;
   
        animation: slideinLeft 2s forwards;
        animation-delay: 1s;
      }
      
      @keyframes slideinLeft {
        0% {
          transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
    }

.f{
    opacity: 0;
  
    width: 37%;
    position: absolute;
top: 27%;
left: 60%;
animation: slideinRight 2s forwards;
animation-delay: 1s;
}

@keyframes slideinRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.i{
    position: absolute;
    left: 42%;
    opacity: 0;
    top: 44%;
    font-size: 50px;
    margin: 0;
    color: #ffffff;
  animation: sss 2s forwards; 
  animation-delay: 1s;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;

  font-style: normal;
}
@keyframes sss {
    0% {
      opacity: 0;

    }
    100% {
      opacity: 1;
    
    }
  }

  .k {
    display: flex;
    align-items: center;
}

.k:before,
.k:after {
    content: "";
    height: 3px;
    flex-grow: 1;
    background-color: #666;
}

.k:before {
    margin-right: 1rem;
}

.k:after {
    margin-left: 1rem;
}
.la{
    text-align: center;
}
.j{
    animation: sss 2s forwards;
    animation-delay: 3s;
    opacity: 0;
}